body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0;
}

h1,h3,p{
    margin: 0;
}

.logo {
    width: 116px;
    height: 69px;
}

.main-nav {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-left: 8px;
    height: 4.5em;
}

.main-nav__items {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}

.main-nav__items>a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.intro {
    background: rgba(191, 191, 191, 0.92);
    height: calc(100vh - 4.5em);
    width: 100%;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.intro__title {
    margin: auto auto 30px auto;
    width: 90%;
}

.intro__title>h1 {
    font-size: 48px;
    font-weight: 700;
    color: #215469;
    margin: 0;
}

.intro__title span {
    font-size: 48px;
    font-weight: 700;
    color: #2C46D0;
}

.intro__title p {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #474B4B;
}

.intro__title button {
    display: block;
    margin: 40px auto;
    background-color: transparent;
    padding: 10px 20px;
    border: 3px solid #1B4C61;
    border-radius: 15px;
    color: #1B4C61;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.intro img {
    align-self: end;
    width: 100%;
    height: 489px;
    object-fit: cover;
}

.odoo-products {
    height: 100vh;
    display: grid;
    grid-template: 1fr 2fr / 1fr 2fr;
}

.odoo-products__whatis {
    margin: 30px auto;
    width: 90%;
    border-right: dashed;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.1;
    color: #9D9C9C;
}

.odoo-products__definition {
    margin: 40px auto;
    width: 90%;
    font-size: 20px;
}

.odoo-products__apps {
    width: 90%;
    margin: auto;
    padding: 90px 0;
    border-right: dashed;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.1;
    color: #9D9C9C;
}

.odoo-products__needs>h3 {
    text-align: center;
    font-weight: bold;
    color: #545454;
}

.odoo-products__needs__examples{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    row-gap: 15px;
}

.sales>h4, .services>h4, .finances>h4, .market>h4{
    text-align: center;
}

.sales__items, .services__items, .finance__items, .market__items{
    display: flex;
    justify-content: space-evenly;
}

.sales__items>div, .services__items>div, .finance__items>div, .market__items>div{
    text-align: center;
}

.items__icons{
    width: 56px;
    height: 56px;
}

.odoo-products__needs>button{
    display: block;
    margin: 45px auto;
    background-color: transparent;
    padding: 5px 20px;
    border: 3px solid #1B4C61;
    border-radius: 15px;
    color: #1B4C61;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.odoo-integrations{
    height: 100vh;
    background-color: #215368;
}

.odoo-integrations__title{
    height: 20%;
}

.odoo-integrations__title>h1{
    padding-top: 15px;
    font-size: 45px;
    text-align: center;
    color: white;
}

.odoo-integrations__title>h2{
    text-align: center;
    color: #3CC3CC;
}

.odoo-integrations__steps{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    row-gap: 15px;
    height: 70%;
    align-items: center;
}

.step-1, .step-2, .step-3, .step-4{
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}

.step-icon>img{
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.step-icon>p{
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: 18px;
}

.desc{
    margin: auto;
    padding-left: 30px;
    font-weight: 600;
    color: #58CAFB;
    padding-right: 20px;
}

.odoo-integrations>button{
    display: block;
    margin: 5px auto;
    background-color: transparent;
    padding: 5px 20px;
    border: 3px solid #ffffff;
    border-radius: 15px;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.odoo-pricing{
    height: 100vh;
}

.odoo-pricing>h1{
    padding-top: 15px;
    font-size: 45px;
    text-align: center;
    color: #545554;
}